.img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    
}

#imageContainer {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
  }
  
  #imageInput {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  
  #uploadedImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .container{
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    background-color: rgb(241, 237, 237);
    border: 1px solid;
  }

  .info{
    gap:20px;
    align-items: center;
  }